@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d293d;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@layer utilities {
  .z-notification {
    z-index: 1400;
  }

  .z-tooltip {
    z-index: 1300;
  }

  .z-modal {
    z-index: 1200;
  }

  .z-navbar {
    z-index: 1100;
  }
}